.cta {
  background-color: #2a2a2a;
  color: #fff;
  margin-top: 120px;
  margin-bottom: 30px;
  padding: 45px 0px;
}

.cta__content {
  display: flex;
  justify-content: space-between;
}

.cta__title {
  font-size: 2.1875rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* 2xl */
/* @media (max-width: 1400px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
@media (max-width: 1024px) {
  .cta__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .cta__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */
