.footer {
  text-align: left;
  margin-top: 120px;
  display: grid;
  grid-template-areas:
    "abo abo abo loc cus fol"
    "bla bla bla new new new"
    "cop cop cop cop cop scr";
}

.footer__about-logo__img {
  max-width: 273px !important;
  margin-bottom: 45px;
  background-color: #2a2a2a;
}

.footer__description {
  font-size: 0.9375rem;
  line-height: 28px;
  color: #7a7a7a;
  max-width: 45ch;
  margin-bottom: 1rem;
}

.footer__title {
  font-size: 1.0625rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #2a2a2a;
  margin-bottom: 30px;
}

.footer__menu-item {
  display: block;
  margin-bottom: 20px;
}

.footer__menu-link {
  font-size: 0.9375rem;
  color: #7a7a7a;
}

.footer__about {
  grid-area: abo;
}

.footer__location {
  grid-area: loc;
}

.footer__customer-care {
  grid-area: cus;
}

.footer__follow-us {
  grid-area: fol;
}

.footer__newsletter {
  position: relative;
  grid-area: new;
}

.footer__copyright {
  grid-area: cop;
  padding-top: 60px;
}

.footer__scroll-to-top {
  grid-area: scr;
  padding-top: 60px;
  color: #7a7a7a;
}

.footer__scroll-to-top__link {
  font-size: 0.9375rem;
  color: #7a7a7a;
}

.footer__newsletter-input {
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eeeeee;
  font-family: inherit;
  font-size: 14px;
  height: 40px;
  padding: 0 10px;
}

.footer__btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #7a7a7a;
}

/* 2xl */
/* @media (max-width: 1400px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
@media (max-width: 1024px) {
  .footer {
    margin-top: 80px;
    text-align: center;
    display: block;
  }

  .footer__title {
    margin-top: 45px;
  }

  .footer__description {
    max-width: fit-content;
    margin-inline: auto;
  }
}

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */
