*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1280px;
    margin-inline: auto; 
}
.tranding-item{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3,1fr); 
}
.int-pos{
    position: relative;
}
img{
    border-radius: 8px;
}
.int-d{
    position: absolute;
    background-color:#ff565b ;
    padding: 10px;
    top: 0px;
    left: 0;
    border-top-left-radius: 8px;
    border-bottom-right-radius:8px ;
    color: white;
    
}
.int-btn{
    position: absolute;
    bottom: 0px;
    background: #ff565b;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
}

