*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #212529;
}

img,
picture,
video,
canvas {
  width: 100%;
  vertical-align: middle;
}

fieldset {
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0 2px 1px;
  white-space: nowrap;
}

svg {
  vertical-align: middle;
  margin-right: 8px;
}
