*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #212529;
}

img,
picture,
video,
canvas,
svg {
  width: 100%;
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
