/* 2xl */
/* @media (max-width: 1400px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */

.container {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.btn {
  color: #ff565b;
  background-color: #ffffff;
  padding: 11px 25px;
  border-radius: 7px;
  transition: color 0.3s, background-color 0.3s;
}

.btn:hover {
  color: #ffffff;
  background-color: #ff565b;
}

/* 2xl */
@media (max-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
