/* 2xl */
/* @media (max-width: 1400px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */

.container {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.btn {
  color: #ff565b;
  background-color: #ffffff;
  padding: 11px 25px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
  background-color: #ff565b;
}

.btn--dark {
  color: #ffffff;
  background-color: #ff565b;
  transition: background-color 0.3s;
}

.btn--dark:hover {
  background-color: #2a2a2a;
}

.btn--fullwidth {
  width: 100%;
}

.section {
  margin-top: 60px;
  padding-top: 60px;
}

.title {
  font-size: 2.125rem;
  font-weight: 700;
  color: #2a2a2a;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.title .em {
  padding-left: 100px;
  position: relative;
}

.title .em::before {
  width: 80px;
  height: 2px;
  background-color: #ff565b;
  content: "";
  position: absolute;
  left: 0;
  top: 22px;
}

/* 2xl */
@media (max-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  .section {
    margin-top: 0;
  }

  .title {
    font-size: 1.375rem;
    text-transform: capitalize;
    line-height: 32px;
    letter-spacing: -0.5px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 90%;
  }
}
/* tranding and explor file */
/* xl */


/* Large screen */
@media (max-width: 1024px){
  .container{
     max-width:840px ;
  
     padding:0 10px ;
  }
  .bedrooms{
      width: 100%;
  }
  .bed-section{
      /* background-color: black; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      
  }
  .bed-section .bed-card{
      width: 100%;
      bottom:0;
      left: 0;
      /* padding: 15px; */

      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1rem;
      background-color: white;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  }
  /* .bed-card .card{
      display: flex;
      flex-direction: column;
  } */
  .bad-imgs{
      width: 100%;
      gap: 3rem;
      flex-wrap: wrap;
  }
  .bad-imgs img{
      width: 100%;
  
  }
  .interiors{
     flex-wrap: wrap;
     border: none;
  }
  .Inter-Design{
      border-top: 1px solid #eeeeee;
      width: 100%;
      padding: 60px 0px 30px 0px;
    
  }
.right{
  justify-content: right;
}
.Inter-Design img{
  width: 60px;
}
.tranding-item{
 justify-content: center;
}
.subs-img{
  flex-wrap: wrap;
 
}
.subs-img{
  flex-wrap: wrap;
}
.sub-img2{
  flex-wrap: wrap;
}
.subs-img1{
  flex-wrap: wrap;
}


}
/* medium */
@media (max-width: 768px) {
.container{
  max-width: 640px;
}

/* sm */
@media (max-width: 640px) {
  .container{
      max-width: 475px;
  }
  }
  /* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
    padding:0 10px ;

  }
  .Inter-Design img{
      width: 80px;
    }
  
  }
}
